<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/" method="POST" >
        <label>Numer 1
           <input type="number" name="number_1">
       </label>
        <label>Wybierz działanie
           <select name="action">
               <option value="summary"> + </option>
               <option value="subtraction"> - </option>
               <option value="multiplication"> * </option>
               <option value="division"> / </option>
           </select>
       </label>
        <label>Numer 2
           <input type="number" name="number_2">
       </label>
            <input type="submit" value="Wyślij">
    </form>
</body>
</html>